1. Creating Lists

In [2]:
# create simple list with mixed data types
list=['Pokhara',40.0, 12, True]
print(list)

['Pokhara', 40.0, 12, True]

In [10]:

# display type 
list=['Kathmandu',40.0, 12, False]
print(type(list))

<class 'list'>

In [6]:

# display length of list
# Hint: len(list)
list=['Kathmandu',40.0, 12,56, "Kritika", False]
print(len(list))

6

In [8]:
# create nested list
list=['Kathmandu',40.0, 12,56, "friends",["anisha", "aayushma","kritika"] ,False]
print(list)

['Kathmandu', 40.0, 12, 56, 'friends', ['anisha', 'aayushma', 'kritika'], False]

In [11]:
# display type of nested list

print(type(list[5]))list=['Kathmandu',40.0, 12,56, "friends",["anisha", "aayushma","kritika"] ,False]

<class 'list'>

In [12]:
# display length of nested list
# Hint: len() 
list=['Kathmandu',40.0, 12,56, "friends",["anisha", "aayushma","kritika"] ,False]
print(len(list[5]))

3

List creation from Strings

use .split() method

In [14]:
# Initialize any non-empty string
# split string to create list

string='chitwan pokhara'
print(string.split())

['chitwan', 'pokhara']

2. Indexing Lists

In [19]:
# initialize simple list of length 5
list=[10, 20.0, 30, 'fun', False]
print(len(list))

5

In [20]:
# print 1st item using positive index
list=[10, 20.0, 30, 'fun', False]
print(list[0])

10

In [21]:
# print 3rd item using positive index
list=[10, 20.0, 30, 'fun', False]
print(list[2])

30

In [22]:

# print last item using positive index
list=[10, 20.0, 30, 'fun', False]
print(list[4])

False

Now lets try to index nested list

In [30]:
# initialize nested list of length 5
list=['Kathmandu',40.0, 12,56, "friends",["anisha", "aayushma","kritika",10,20.0] ,False]
print(len(list[5]))

5

In [31]:

# practice indexing
list=[10, 20.0, 30, 'fun', False]
print(list[:2])
print(list[1:])
print(list[2:4])
print(list[:])

[10, 20.0]
[20.0, 30, 'fun', False]
[30, 'fun']
[10, 20.0, 30, 'fun', False]

negative indexing

In [32]:
# reinitialize simple list of length 5
list=[40, 20.0, True, 'fun', False]
print(len(list))

5

In [34]:

# print 1st item using negative index

list=[10, 20.0, 30, 'fun', False]
print(list[:-4])

[10]

In [37]:
# print 3rd item using negative index
list=[10, 20.0, 30, 'fun', False]
print(list[-3:-2])

[30]

In [39]:
# print last item using negative index
list=[10, 20.0, 30, 'fun', False]
print(list[-1:])

[False]

In [41]:
list=[10, 20.0, 30, 'fun', False]
list[2]='ejwoed'
print(list)

[10, 20.0, 'ejwoed', 'fun', False]

3. Slicing Lists



case 1: when step is positive

In [1]:
# initialize simple list (refer to above example)
slicing_list=['s','t','r','i','n','g','i','n','d','e','x','i','n','g']
print(slicing_list)

['s', 't', 'r', 'i', 'n', 'g', 'i', 'n', 'd', 'e', 'x', 'i', 'n', 'g']

In [5]:

# slice first 3 items using positive index

slicing_list=['s','t','r','i','n','g','i','n','d','e','x','i','n','g']
print(slicing_list[0:3])

['s', 't', 'r']

In [6]:

# slice last 3 items using negative index
slicing_list=['s','t','r','i','n','g','i','n','d','e','x','i','n','g']
print(slicing_list[-3:])

['i', 'n', 'g']

In [7]:
# get list item at even index
# e.g. ['S', 'r', 'n', ' ', 'n', 'e', i]


slicing_list=['s','t','r','i','n','g','i','n','d','e','x','i','n','g']
print(slicing_list[0:14:2])

['s', 'r', 'n', 'i', 'd', 'x', 'n']

case 2: when step is negative

In [10]:
# slice first 3 list items using positive index


slicing_list=['s','t','r','i','n','g','i','n','d','e','x','i','n','g']
print(slicing_list[0:3])

['s', 't', 'r']

In [11]:
# slice last 3 list items using negative index

slicing_list=['s','t','r','i','n','g','i','n','d','e','x','i','n','g']
print(slicing_list[-3:])

['i', 'n', 'g']

In [16]:
# reverse list
# output: ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']


slicing_list=['s','t','r','i','n','g','i','n','d','e','x','i','n','g']
print(slicing_list[::-1])

['g', 'n', 'i', 'x', 'e', 'd', 'n', 'i', 'g', 'n', 'i', 'r', 't', 's']

4. Lists are mutable



Unlike Strings, Lists are mutable



It means we can change list items after its creation

In [13]:
# verify lists are mutable

mutable_list = ['hi', 'i', 'am', 'mutable']
print(mutable_list)

['hi', 'i', 'am', 'mutable']

In [14]:

# change first item 'hi' to 'hello'


mutable_list = ['hi', 'i', 'am', 'mutable']
mutable_list[0]="hello"
print(mutable_list)

['hello', 'i', 'am', 'mutable']

5. List Methods


Most common Lists methods are:
1. append(): Methods to add an item to the end of the list.
2. insert(): Methods to add an item to list at a specified index.
3. extend(): Methods to append elements from another list to the current list
4. remove(): Methods to remove the specified item using item name.
5. pop(): Methods to remove the list item using index. By Default pop takes up the last index.
6. reverse(): Methods to reverse list.
7. sort(): Methods to sort the string either in ascending order or descending order.

In [27]:
# Create a new list

list=[45, 60.0, True, 'fun']
print(list)

[45, 60.0, True, 'fun']

In [34]:
# add new item to the end of a list
# Hint: list.append()

list=[45, 60.0, True, 'fun']
list.append("fact")
print(list)

[45, 60.0, True, 'fun', 'fact']

In [35]:
# add new item at index 1 using insert()
# Hint: list1.insert(, )

list=[45, 60.0, True, 'fun']
list.insert(3, "admin")
print(list)

[45, 60.0, True, 'admin', 'fun']

In [40]:
# Given two list i.e. list1 and list2
# extend list1 with item from list 2
# Hint: list1.extend(list2)


list1=[45, 60.0, True, 'fun']
list2=[10, 20.0, 30, 'fact', False]
list1.extend(list2)
print(list1)

[45, 60.0, True, 'fun', 10, 20.0, 30, 'fact', False]

In [41]:
# remove specific item from list
# Hint: list.remove()

list=[10, 20.0, 30, 'fun', False]
list.remove('fun')
print(list)

[10, 20.0, 30, False]

In [42]:
# remove item at index 1 of list
# Hint: list1.pop()
list=[10, 20.0, 30, 'fun', False]
list.pop(1)
print(list)

[10, 30, 'fun', False]

In [43]:

# remove last item from list
# Hint: list1.pop()

list=[10, 20.0, 30, 'fun', False]
list.pop()
print(list)

[10, 20.0, 30, 'fun']

In [44]:
# reverse list
# Hint: list.reverse()


list=[10, 20.0, 30, 'fun', False]
list.reverse()
print(list)

[False, 'fun', 30, 20.0, 10]

In [46]:
# sort list in ascending order
# hint: list.sort()


list=[10, 20.0, 30, 78, 90.0]
list.sort()
print(list)

[10, 20.0, 30, 78, 90.0]

In [47]:
# sort list in descending order
# hint: list.sort(reverse=True)



list=[10, 20.0, 30, 78, 90.0]
list.sort(reverse=True)
print(list)

[90.0, 78, 30, 20.0, 10]

6. Join Lists



Given list, how can we join the list items?

Technique to convert list to string.

Example:




input_list = ['hello', 'world']
ouput_list = "hello world"
syntax: `result = separator.join()

where, separator is the string that will be used to separate the elements in the resulting string.

In [3]:
# create new list

list=['new', 'old',True, False, 10, 34.0]
print(list)

['new', 'old', True, False, 10, 34.0]

In [9]:

# join list by space to form new string
# Hint: " ".join()


list=['new', 'old',True, False, 10, 34.0]
result="".join(str(list))
print(result)

['new', 'old', True, False, 10, 34.0]

7. Loop Lists


Similar to Strings, you can also loop through list items using a for loop.


Q. Initialize List and print list items one by one using for loop.

In [14]:
# create list

# loop through list items


place=['ktm','pokhara','chitwan','syangja']
for i in place:
    print(i)

ktm
pokhara
chitwan
syangja

In [25]:
# loop through list items using enumerate()

place=['ktm','pokhara','chitwan','syangja']
for index, i in enumerate(place):
    print(f'Index {index}:{i}')

Index 0:ktm
Index 1:pokhara
Index 2:chitwan
Index 3:syangja

8. List Comprehension


List comprehension offers the shortest syntax for looping through lists.



Syntax: newlist = [expression for item in iterable if condition == True]

In [36]:
# Write a python program to lowercase item in given list using list comprehension.
sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
#Output: lower_list = ["apple", "mango", "banana", "grapes"]


a=[item.lower()for item in sample_list]
print(f'lower_list:{a}')

lower_list:['apple', 'mango', 'banana', 'grapes']

In [48]:
# Given list of fruits i.e. fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list named fruit_list removing item which is not fruit. Example = coffee.



fruit_list=['apple','mango','banana','grapes','coffee']
fruit_list.pop()
print(fruit_list)

['apple', 'mango', 'banana', 'grapes']

9. List exercise



Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.

In [51]:
sample_list = ['mango', 'banana', 'kiwi', 'apple', 'grapes']

longest_word = max(sample_list, key=len)
word_length = len(longest_word)

print(f'The longest word is {longest_word} with length {word_length}')

The longest word is banana with length 6

In [1]:
# Write a python program to sum all the items in a list
sample_list = [1, 2, 3, 4, 5]
total_sum = sum(sample_list)
print(f'The total sum is {total_sum}')

The total sum is 15

In [7]:
# Write a python program to get the largest number from a list.

sample_list= [10, 20, 30, 100, 40]
Largest_number= max(sample_list)
print(f'The largest number from the list is {Largest_number}')

The largest number from the list is 100

In [8]:
# Write a python program to get the smallest number from a list.

sample_list= [-1, 0, 1, 2] 
smallest_number=min(sample_list)
print(f'The smallest number is {smallest_number}')

The smallest number is -1

In [15]:
# Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

sample_list = ['abc', 'xyz', 'aba', '1221']
count=0
for i in sample_list:
    if (len(i)>=2 and i[0].lower==i[-1].lower):
        count+=1

print(f' The no of strings satisfying the given condition is {count}')

 The no of strings satisfying the given condition is 2

In [24]:
#Write a python program to check a list is empty or not.


sample_list = ['abc', 'xyz', 'aba', '1221']
if not  sample_list:
    print("The list is emtpty")
else:
    print("The list is not empty")

The list is not empty

In [25]:
#Write a python program to insert a given string at the beginning of all items in a list.

sample_list = [1, 2, 3, 4]
str_to_insert = "emp"
output=[f'{str_to_insert}{i}' for i in sample_list]
print(output)

['emp1', 'emp2', 'emp3', 'emp4']