Tuple



A Tuple is a collection/sequence that are used to store multiple items (data types) in a single variable.



Like Lists, Tuple can be either simple tuple or nested tuple.



Unlike Lists, Tuples are immutable i.e. it cannot be changed once it's created.



Tuples are heterogeneous i.e. it can store items of different basic data types.



Tuples are written with round brackets.



examples:
(1, 'simple', 'tuple')
((1, 2), 'nested', tuple




Tuples are ordered, unchangeable, and allow duplicate values.

In [7]:
# create empty tuple


tuple=('tuple',True, 10.0, 45,'pokhara')

print(tuple)

('tuple', True, 10.0, 45, 'pokhara')

In [8]:
# display type 

tuple=('tuple',True, 10.0, 45,'pokhara')
print(type(tuple))

<class 'tuple'>

In [10]:
# display length of tuple
# Hint: len(tuple)



tuple=('tuple',True, 10.0, 45,'pokhara')
print(len(tuple))

5

In [14]:
# create nested tuple

tuple=('tuple',True, 10.0, 45,'pokhara', ('nested', False, 89.0, 90))

print(tuple)

('tuple', True, 10.0, 45, 'pokhara', ('nested', False, 89.0, 90))

In [12]:
# display type of nested tuple

tuple=('tuple',True, 10.0, 45,'pokhara', ('nested', False, 89.0, 90))
print(type(tuple))

<class 'tuple'>

In [13]:
# display length of nested tuple
# Hint: len()


tuple=('tuple',True, 10.0, 45,'pokhara', ('nested', False, 89.0, 90))

print(len(tuple))

6

Tuples creation from Strings



.split()
typecast

In [5]:
sample=input("Enter the string: ")
list_from_str=sample.split()
tuple_from_list=tuple(list_from_str)
print(f'Tuples creation from string:{tuple_from_list}')

Enter the string: He is from KTM.
Tuples creation from string:('He', 'is', 'from', 'KTM.')

2. Indexing Tuples




Indexing works similar to that of Lists.

As we know, tuple is a sequenced collection of different objects such as Strings, Integer, etc.

The address of each element within a tuple is called an index.

An index is used to access and refer to items within a tuple.





positive indexing

In [11]:
# initialize simple tuple of length 5

tuple=('tuple',True, 10.0, 45,'pokhara')
print(len(tuple))

5

In [12]:
# print 1st item using positive index

tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple[0])

tuple

In [13]:
# print last item using positive index

tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple[4])

pokhara

negative indexing

In [14]:
# print 1st item using negative index

tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple[-5])

tuple

In [16]:
# print last item using negative index

tuple=('tuple',True, 10.0, 45,'pokhara')

print(tuple[-1])

pokhara

3. Slicing Tuples



Slicing Tuples means extracting part of list items.



Concepts of Slicing Tuples is similar to Slicing Lists.


Syntax: tuple[start:end:step]

case 1: when step is positive

In [24]:
# initialize simple Tuples
tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple)

('tuple', True, 10.0, 45, 'pokhara')

In [26]:
# slice first 3 items using positive index

tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple[:3])

('tuple', True, 10.0)

In [27]:
# slice last 3 items using negative index
tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple[-3:])

(10.0, 45, 'pokhara')

In [28]:
# get tuple items at even index
tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple[::2])

('tuple', 10.0, 'pokhara')

case 2: when step is negative

In [33]:
#reverse tuple
tuple=('tuple',True, 10.0, 45,'pokhara')
print(tuple[::-1])

('pokhara', 45, 10.0, True, 'tuple')

4. Lists are immutable


Unlike Lists, Tuoles are mutable


It means we can't change tuple items after its creation.

In [34]:
# verify tuples are immutable
tuple=('verify', 'tuples', True, 89)
tuple[0]=False
print(tuple)

TypeError: 'tuple' object does not support item assignment

5. Tuples Methods


count(): returns number of times a specified value occures in a tuple
    
    
index(): returns index of specified value in tuple

In [38]:
# initialize tuple

tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)
print(tuple_method)

(1, 2, 2, 2, 3, 4, 2, 5, 6, 7)

In [43]:
# count number of occurence of item "2"
# Hint: tuple.count(<item>)

tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)
a=tuple_method.count(2)
print(a)

4

In [45]:
# get index of first item "4"
# tuple.index(<item>)
tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)
print(tuple_method.index(4))

5

How to add item in Tuple?



Tuples are immutable.


They do not have append() methods like list.


Is there any way to add items to Tuple, once it is created?


Approach 1:

Input Tuple


Typecast Tuple to List


Append item to List


Typecast List back to Tuple

In [2]:
tuple1=('ktm', False, 56, 89.0)

tuple_to_list1=list(tuple1)

tuple_to_list2=["pokhara", 78, 'Mango','Orange']

new_list=tuple_to_list1 + tuple_to_list2

new_tuple=tuple(new_list)

print(f' Modified tuple is :{new_tuple}')

 Modified tuple is :('ktm', False, 56, 89.0, 'pokhara', 78, 'Mango', 'Orange')

Approach 2:
    
    

Input Tuple.


Create Tuple with value to be added to main Tuple


Concatenate Tuple using + operator.

In [3]:
tuple1=('ktm', False, 56, 89.0)

tuple2=("pokhara", True, 34)

new_tuple= tuple1+tuple2

print(new_tuple)

('ktm', False, 56, 89.0, 'pokhara', True, 34)

Unpack Tuples


Tuples creation process discussed till now, also means "packing" a tuple.



Example: sample_tuple = ('python', 'is', 'awesome')
    
    
Unpacking Tuples means extracting values back into variables




Example: first_item, secon_item, third_item = sample_tuple

In [4]:
# create tuples of length 4
# unpack tuples items to 4 other variables

a,b,c,d= tuples= ('Dell',"Acer", "Hp", "Lenovo")
print(a)
print(b)
print(c)
print(d)

Dell
Acer
Hp
Lenovo

Unpack Tuples using Asterik *



Useful, if number of variables is less than the number of items in tuples

In [6]:
# Unpack Tuples values using 3 variables
# Hint: a, *b, c

*a,b,c,= tuples= ('Dell',"Acer", "Hp", "Lenovo")

print(a)

print(b)

print(c)

['Dell', 'Acer']
Hp
Lenovo

9. Loop Tuples


Similar to List, you can loop through Tuples items using a for loop.

In [9]:
# Initialize Tuples and loop through Tuples items one by one.

colours=("pink", 'black','white','lavender','brown','coffee')
for i in colours:
 print(i)

pink
black
white
lavender
brown
coffee

In [18]:
#Use enumerate() function to loop through Tupes to get index and values.
colours=("pink", 'black','white','lavender','brown','coffee')

for index, i in enumerate (colours):
    
 print(f'indexing {index} : {i}')

indexing 0 : pink
indexing 1 : black
indexing 2 : white
indexing 3 : lavender
indexing 4 : brown
indexing 5 : coffee

In [26]:
# Write a python program to lowercase item in given Tuples using Tuple comprehension.
sample_tuple = ("APPLE", "Mango", "BaNaNa", "GRapes")

a=tuple(i.lower() for i in sample_tuple)

print(f'Given tuples are:{a}')

Given tuples are:('apple', 'mango', 'banana', 'grapes')